RAG Pipeline & Chatbot Tugas Akhir Skripsi.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11o44r4LvTUqOp6y5uZ1I34lIwwn9kak3",
          "mode": "list",
          "cachedResultName": "RAG-Supabase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11o44r4LvTUqOp6y5uZ1I34lIwwn9kak3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "9e5987b9-f39a-4a9e-a2c6-12e30c7c5f52",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AHTIJIDil6DpIOzq",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cff92ca-a881-4834-a116-3aa5e6251602",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "b2c56c35-5162-4f68-b248-cb8c2df54fcf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "eced1881-d4e7-4702-b59c-3ea53363f76d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AHTIJIDil6DpIOzq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1056,
        0
      ],
      "id": "e6a24d90-d768-4747-a098-2e39e0462376",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1312,
        0
      ],
      "id": "4c8bed80-dae5-4ede-a871-17bdad49b116",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hOCJcY8iiDFVHAXm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        224
      ],
      "id": "2d272562-1825-46cc-ad5a-f5f4bfd584e1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "72IdGPKfK5Un5BKJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1408,
        224
      ],
      "id": "cc1c97dc-4be4-4834-8c76-a23aff2ec48a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1488,
        432
      ],
      "id": "9a57d77f-3a28-4538-bb15-846b01e87d2f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        304
      ],
      "id": "d4984ba2-c2c5-4d53-9650-b5499d6bf7b9",
      "name": "When chat message received",
      "webhookId": "b8f9aa7a-4587-4fb2-8223-d5ee1e0be44b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten penulisan ilmiah tugas akhir atau skripsi. Tugas utama kamu adalah membantu menjawab pertanyaan mahasiswa mengenai penulisan ilmiah tugas akhir atau skripsi.\n\nKamu harus menjawab dengan mengacu informasi yang tersedia di data vektor pada Tool \"Supabase Vector Store\".\n\nGunakan bahasa Indonesia yang santai, sopan, dan hangat. Kamu boleh menggunakan emoji secukupnya.\n\nSelalu pastikan jawabanmu sesuai dengan informasi yang diambil dari Tool \"Supabase Vector Store\".\n\nJika Informasi tidak tersedia di Tool \"Supabase Vector Store\", jawab dengan \"Mohon maaf, saya belum dapat memberikan jawaban karena informasi belum tersedia\".\n\nJangan Pernah menyebutkan kata 'Supabase', 'Vector Store', atau 'Tool' ke pengguna. Bertindaklah seolah-olah kamu memang pakar yang sudah hafal panduan tersebut.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        304
      ],
      "id": "ec49cdb4-8327-4749-9015-52999cf18721",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        528
      ],
      "id": "8f8ea436-57dd-4525-aafb-df98a72d6386",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "72IdGPKfK5Un5BKJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan tentang penulisan ilmiah mahasiswa.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        464,
        528
      ],
      "id": "c931f323-322e-4697-aab8-a08f278a2c87",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "hOCJcY8iiDFVHAXm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        336,
        528
      ],
      "id": "23c31cb1-782e-487d-a7da-914c45c69aef",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rpw2LWAEZAGGNLGn",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e3ef4ac-1596-4420-a16d-aed6d3ee1751",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0ff54fafbc324f661b6d31bc2cbeffcfda94763dff610d1efdeb71ff1dddad"
  },
  "id": "HxuafvEd5K64YCm8",
  "tags": []
}